{% extends "shared/_layout.html" %}
{% block main_content %}

    <h1>Python Package Index</h1>

    <h2> Packages</h2>

    {% for p in packages %}
    <div>
            <span class="title">
                    {{ p.name.upper() }}
            </span>
        <span class="version">
                {{ p.version }}
            </span>
        <a href="/project/{{ p.id }}">{{ p.id }}</a>
        {% if p.summary %}
        {{ p.summary }}
        {% endif %}
    </div>
    {% endfor %}

{% endblock %}
